[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
sqlalchemy = "==1.4.54"
pymysql = "==1.1.1"
database = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.8"
